@font-face {
  font-family: "myfont";
  src: url("../fonts/lena/Lena.ttf");
}

@font-face {
  font-family: "myfontJun";
  src: url("../fonts/junegull/junegull.ttf");
}

@font-face {
  font-family: "myfontPoe";
  src: url("../fonts/poetsen_one/PoetsenOne-Regular.ttf");
}

/* figuras geométricas */
.triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #5660F1;
    border-radius: 3px;
}
.left-triangle {
  width: 0;
  height: 0;
  border-right: 100px solid blue;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

body
{
  /* background-color: black!important; */
  background-color: blanchedalmond;
  background: url('../images/noisy2.png') repeat center center;

}

.modal {
  display: block!important;
  /*font-family: 'Yanone Kaffeesatz';*/
  font-family: 'Fjalla One', sans-serif;
}

.modal-content {
  background: url('../images/fondo_2.jpg') repeat center center;
  -webkit-filter: grayscale(50%); 
  -moz-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  filter: grayscale(50%);	
  /* https://all-free-download.com/free-vector/download/abstract_color_wave_background_6817416_download.html */
}
.modal-backdrop.show {
  opacity: 1!important;
}

.logoMEP {
  width: 75px!important;
}

#calendarEmbedWrapper {
  width: 80%;
  min-height: 400px;
  margin-left: 10%;
  position: relative;
}
#calendarEmbed,#calendarEmbedBlocker {
  width: 100%;
  height: 100%;
  position: absolute;
}
#calendarEmbedBlocker {
  background-color: #e15151;
}
#calendarEmbedBlocker p {
  width: 50%;
  margin-left: 25%;
  margin-top: 19%;
  text-align: center;
  font-size: x-large;
}

.nav-tabs {
  border-bottom: none!important;
}

.nav-tabs > a{
  color:white;
  font-size: 16px;
  text-shadow: 2px 2px 2px #999;
  border-radius: 0!important;
  background-color: rgba(255,0,255,0.25);
}

.nav-tabs > a:hover{
  color: white!important;
  font-size: 16px;
  text-shadow: 2px 2px 2px #999;
  border: 2px solid white;
  background-color: rgba(241, 238, 241, 0.5) !important
  /* border-color: darkmagenta!important; */
}
.nav-item.nav-link.active,
.nav-item.nav-link.active:hover {
  color: white!important;
  font-weight: bold;
  background-color: rgba(255,0,255,0.5)!important;
  border-color: rgba(255,0,255,0.5)!important;
}


/* #txtUsuario::placeholder, */
::placeholder { 
  color: #e5e1e1!important;
  /* font-weight: bold; */
}

#noanim-tab {
  margin-bottom: 1.5rem !important;
}
.input-ingreso {
  border: none!important;
  border-bottom: 1px solid white!important;
  color: white!important;
  font-size: 1.1rem!important;
}

#txtUsuario:focus,
#txtContrasena:focus,  
#txtNombre:focus,
#txtApellido1:focus,  
#txtApellido2:focus,
#txtTipoUsuario:focus,  
#txtCorreo:focus,  
#txtClave1:focus,  
#txtClave2:focus,  
#txtContrasena:active
{ 
  outline: 0!important;
  box-shadow: none; 
  color: white;
  font-size: 1.5rem;
 }

.btn-ingreso {
  color:white!important;
  text-shadow: 2px 2px 2px #999;
  background-color:#72cade!important;
  border: 3px solid#1494b1 !important;
}

.btn-ingreso:hover {
  font-weight: bold;
  background-color: #174b94!important;
  /* text-shadow: 2px 2px 2px white; */
}
.navbar-light .navbar-nav .nav-link {
  color: white!important;
  font-size: 1.5rem;
}

.navbar-expand-lg .navbar-nav {
  color:#e74803;
  text-shadow: 2px 2px 2px  #999;
}


.jumbotron {
  background-color: transparent!important;
}

.inactivo {
  cursor: auto!important;
}


/* Cover Area style */
 .div-encabezado
{
  /* background: url('../images/bg1-768x313.png') no-repeat center center; */
  background: url('../images/bg2.jpg') no-repeat center center;
  /* background: url('../images/fondo2.jpg') no-repeat center center; */
  background-color: blanchedalmond;
	background-position: 0% 25%;
	background-size: cover;
  color: white; 
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0px;
}

.h1text {
  padding-left: 2%;
  color: white;
  font-family: "myfontJun"!important;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}

.col-botonera {
  background-color: #e6e6fab5;
  background: url('../images/noisy2.png') repeat center center;
  padding-top: 2%;
  border-radius: 5px;

}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/* General Buttons */
.btn-main, btn-main:hover {
  width: 130px;
  height: 40px;
  /* background: linear-gradient(to bottom,#de8801  0%, #b99164 100%);  */
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); 
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb!important;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left!important;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */  
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
}

.btn-group-lg>.btn, .btn-lg {
  padding: .2rem 1rem;
  font-size: 1rem;
}
.module {
  /* max-width: 250px; */
  padding: 1rem;
  color: black;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(30, 116, 228),
      rgba(0, 0, 0, 0)      
    ) 1 100%;
}

.btn-main:hover {
  text-shadow: 1px 1px 1px black;
  background: linear-gradient(to bottom, #60bde9 0%,#3581aa 100%); 
}

.btn-main:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

.btn-main:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}

.header-1 {
  /* font: 400 40px 'Open Sans'; */
  font-family: "myfontJun";
  text-transform: uppercase;
  color: #e74803;
  text-shadow: 2px 2px 2px #999;
  margin-bottom: 30px;
} 

.header-2 {
  /* font: 400 1.5rem 'Open Sans'; */
  font-family: "myfontJun";
  text-transform: uppercase;
  color: #e74803;
  text-shadow: 2px 2px 2px #999;
  margin-bottom: 30px;
} 
.form-control {
  background-color: #40a6db14!important;
}

.font-len
{
  color:black;
  font-family: "myfontPoe";
  font-size: 1.1rem;
}

.cuadro-texto {
  -webkit-box-shadow:3px -1px 8px 0px #736b68 inset;
  -moz-box-shadow:3px -1px 8px 0px #736b68 inset;
  box-shadow:3px -1px 8px 0px #736b68 inset;
  margin: 10px 0px 10px 0px;

  padding: 10px;
}

.alertify .ajs-dialog {
  background-color: white;
}

.alertify .ajs-header {
  color: #344555;
  font-weight: 600;
  font-family: "myfontJun"!important;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #bfbdbd;
  font-size: 25px;
}

.alertify .ajs-footer {
  background-color: transparent;
  padding: 20px!important;
}
.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok, 
.ajs-button.ajs-cancel {
  color: white;
  font-size: 20px;
  border-radius: 50px;
  background-color: #2a90ca;
  cursor: pointer;
  min-width: 80%!important; 
}
.alertify .ajs-footer .ajs-buttons.ajs-primary {
  text-align: center!important;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok:hover,
.ajs-button.ajs-cancel:hover  {
  background-color:#4b9ece;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
}

.alertify .ajs-body {
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 25px;
  text-align: center;
  color:black;
  font-family: "myfontPoe"!important;
}

@media only screen and (max-width: 992px) 
{
  .navbar-light .navbar-nav .nav-link {
  font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) 
{
  .btn-main{
    font-weight: 400;
    font-size: 1rem!important;
    overflow: hidden;
  }
  /* .botones {
    display: block!important;
  }
  .botones-grandes {
    display: none!important;
  } */
  .div-menu-2 {
    display: block!important;
  }
  .div-menu-1 {
    display: none!important;
  }
  
}