
/*
@font-face {
  font-family: "myfont";
  src: url("../fonts/lena/Lena.ttf");
}
*/
/*@import url(https://fonts.googleapis.com/css?family=Livvic|Raleway&display=swap); */
/* font-family: 'Raleway', sans-serif;
font-family: 'Livvic', sans-serif; */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body
{
  background-color: blanchedalmond;
  background: url('../images/noisy2.png') repeat center center;

}

 .jumbotron
{
  background: url('../images/bg2.jpg') no-repeat center center;
	background-position: 0% 25%;
	background-size: cover;
  color: white; 
}
.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0px;
}


.h1text {
  padding-left: 2%;
  font-family: myfont; 
  color: white;
}



/* General Buttons */
.btn-main, btn-main:hover {
  width: 130px;
  height: 40px;
  /* background: linear-gradient(to bottom,#de8801  0%, #b99164 100%);  */
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); 
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb!important;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */  
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
}

.btn-main:hover {
  text-shadow: 1px 1px 1px black;
  background: linear-gradient(to bottom, #60bde9 0%,#3581aa 100%); 
}

.btn-main:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

.btn-main:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}

.header-1, .header-2, .fuente-1{
  font: 400 40px 'Open Sans';
  text-transform: uppercase;
  color: #e74803;
  text-shadow: 2px 2px 2px #999;
  margin-bottom: 30px;
} 

.form-control {
  background-color: #40a6db14!important;
}

/* .fuentelivic {
  /*font-family: 'Livvic', sans-serif!important; */
  /*color: blue;
  font-weight: bold;
} */

@media only screen and (max-width: 550px) 
{
  .btn-main {
    font-weight: 400;
    font-size: 1rem!important;
    overflow: hidden;
  }
}